.rightSidebarContainer {
    padding: 1.2rem 2rem 1rem 10rem;
    color: var(--icon-color);
    flex: 3.8;


}

.rightSidebarWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;

}

.rightSidebarWrapper hr {
    width: 100%;
}


h3 {
    font-size: 1rem;
}

.contactHeader {

    width: 300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contactsActions {
    display: flex;
    gap: 10px;



}

.actionItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.actionItem:hover {
    background-color: var(--hover-background);
}

.contacts {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contacts img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.contactItem {
    border-radius: 8px;
    padding: 8px 8px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: rgb(56, 56, 56);
    transition: .3s;
}


.onlineIndicator {
    position: absolute;
    left: 40px;
    top: 10px;
    background: rgb(20, 207, 20);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2.2px solid white;
}

.contactItem:hover {
    background-color: var(--hover-background);
}