.m-btn{
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: bold;
    color: rgb(49, 49, 49);
    cursor: pointer;
    transition: all 0.3s ease;
}

.m-btn-primary{
    background-color:var(--primary);
    color: white;
}

.m-btn-primary:hover{
    background-color:var(--button-hover) ;
}
.card{
    min-width: 405px;
    min-height: 150px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgb(230, 230, 230);

}

.card .title{
    margin-bottom: 8px;
}

.card .desc{
    text-align: center;
}

.card >p{
    color: rgb(172, 172, 172);
}

.create-btn{
    color: white;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: #36A420;
    transition: background-color .3s ease;
}

.create-btn:hover{

    background-color:#00A400;
}

